// import utils
@import '../utils/functions';
@import '../base/variables';

.hs-form-wrapper {
  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    span{
      color: rgb($blue);
    }

    input[type="submit"] {
      background-color: rgb($blue);
      color: #f5e6d2;
      height: auto;
      padding: 1rem 25px;
      border-radius: 12.5rem;
      font-weight: 600;
      font-size: 18px;
    }

    input[type="email"] {
      background-color: #f6e5d2;
      border: none;
      border-radius: 12px;
      padding: 1rem 1.5rem;
      font-size: 1rem;
      width: 60%;
      color: #333;

      &::placeholder {
        color: #999;
      }
    }
  }
}


.footer__social-media {
  @media only screen and (min-width: theme('screens.lg')) {
    width: rem-calc(32);
    height: rem-calc(32);

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.rich-text.footer__copyright {
  * {
    font-size: rem-calc(12);
    line-height: 1;
    font-weight: 400;
  }
}

.rich-text.footer__author {
  * {
    font-size: rem-calc(12);
    line-height: 1;
    font-weight: 400;
  }
}

.footer__background-image {
  position: relative;
  width: 100%;
  height: 100%;
  mask-image: var(--mask-url);
  -webkit-mask-image: var(--mask-url);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: top right;
  -webkit-mask-position: top right;
  overflow: hidden;
  aspect-ratio: 1/1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
